[Unit]
Description=balena-root-ca

[Service]
Type=oneshot
EnvironmentFile=/etc/docker.env
ExecStart=/bin/sh -c 'while ! /usr/sbin/configure-balena-root-ca.sh; do sleep 3s; done'
RemainAfterExit=true

[Install]
WantedBy=basic.target
