[Unit]
Description=balena-host-envvars

[Service]
Type=oneshot
EnvironmentFile=/etc/docker.env
ExecStart=/usr/sbin/configure-balena-host-envvars.sh
RemainAfterExit=true

[Install]
WantedBy=basic.target
