[Unit]
Description=Confd
Before=rsyslog.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
EnvironmentFile=/etc/docker.env
ExecStart=/usr/sbin/configure-balena.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=basic.target
