[Unit]
Description=Confd
Before=rsyslog.service
Requires=balena-host-envvars.service
After=balena-host-envvars.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
EnvironmentFile=/etc/docker.env
ExecStart=/usr/local/bin/confd -onetime -confdir=/usr/src/app/config/confd -backend env

[Install]
WantedBy=basic.target
